@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto&display=swap');

//Colors.
$black-for-background: #222;
$one-for-nav: #a1eb92ef;
$two-for-nav: #9892ebef;
$three-for-nav: #eb9292ef;
$font-color-dark: #000;
$font-color-light: #FFF;
$red: rgba(255, 0, 0, 0.504);
$green: rgba(0, 255, 0, 0.40);
$blue:  rgba(0, 0, 255, 0.50);

//Typography.
$family-sans-serif: 'Oswald', sans-serif; //Bulma's global variable, updated.
$paragraph-typo: 'Roboto', sans-serif;

//Font-sizes.
$title-size: 30vw;
$paragraph-size: 8vw;
$footer-size: 5vw;

// //Responsive.
// $tablet: 769px !default;
// // 960px container + 4rem
// $desktop: 960px + (2 * $gap) !default;
// // 1152px container + 4rem
// $widescreen: 1152px + (2 * $gap) !default;
// $widescreen-enabled: true !default;
// // 1344px container + 4rem
// $fullhd: 1344px + (2 * $gap) !default;
// $fullhd-enabled: true !default;